.container {
  margin: auto;
  width: 100%;
  padding: 50px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first-section {
  background-image: url(../images/PH/PH-background1.jpg);
}

.second-section {
  background-image: url(../images/PH/PH-background2.jpg);
}

.third-section {
  background-image: url(../images/PH/PH-background3.jpg);
}

.text-section {
  width: 50%;
  margin:auto;
  color: black;
}

#contact-us {
  background-color: #154360;
  color: white;
  font-size: 50px;
  border: black solid 5px;
  border-radius: 10px;
  position: sticky;
  bottom: 0px;
  /* margin: 20px 0px; */
}

#contact-us:hover {
  background-color: green;
}
